#header{
   background-image: url(https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
   background-size:cover;
   background-repeat:no-repeat;
   height:85%;
}
li{
    display: inline;
    padding:8px;
    margin-right:10px;
}
nav{
    float:right;
    
}
h1{
    color:silver;
}
